<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>String</key>
	<string>text
text
GEMS
text
text
text
text
text
text
text
text
text
text
text
text
text
text
log_{10}(D [\mu m^2/sec])
log_{10}(D [\mu m^2/sec])
log_{10}(D [\mu m^2/sec])
mPa\cdot s
Text
# per \mu m^3
Text
Text
GEMS mobility [\mu m^2/s]
distance from nuclei [\mu m]
visc
# per \mu m^3
axial position [\mu m]
Time [s]
Count
D [\mu m^2/s]</string>
</dict>
</plist>
