<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array/>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>27</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>1514</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string></string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>Base</key>
				<string>net_tracker_testing/synthetic_tests/test4</string>
				<key>DT</key>
				<string>1</string>
				<key>Ending</key>
				<string>*.nd2.tif</string>
				<key>ReturnFolder</key>
				<string>Off</string>
				<key>SubFolders</key>
				<string>On</string>
			</dict>
			<key>Selection</key>
			<string>Folder Content</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>File Name</string>
			<key>VariableType</key>
			<string>FileName</string>
			<key>ViewHeight</key>
			<real>268</real>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>File Name</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Time From Variable</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>time2</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>ScriptName</key>
			<string>Text-1.rtfd</string>
			<key>TextHeight</key>
			<real>14</real>
			<key>VariableName</key>
			<string>DAText - 1</string>
			<key>VariableType</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Information</key>
				<array>
					<dict>
						<key>Input</key>
						<array>
							<dict>
								<key>Name</key>
								<string>Time value of video volume file</string>
								<key>Type</key>
								<string>FileName</string>
							</dict>
						</array>
						<key>Name</key>
						<string>external output</string>
					</dict>
				</array>
				<key>OutputVariable</key>
				<string>external output</string>
				<key>Script</key>
				<string>_HyphaViewer</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Time value of video volume file</string>
						<key>Type</key>
						<string>FileName</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string></string>
							</dict>
							<key>Selected</key>
							<string>File Name</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Script On Series</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Series</string>
			<key>VariableType</key>
			<string>Series</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Series</key>
				<dict>
					<key>Selected</key>
					<string>Series</string>
				</dict>
				<key>Time</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0</string>
					</dict>
					<key>Selected</key>
					<string>time2</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Series</string>
			<key>VariableName</key>
			<string>Entry from Series</string>
			<key>VariableType</key>
			<string>String</string>
		</dict>
	</array>
	<key>WindowPosition</key>
	<array>
		<real>519</real>
		<real>0.0</real>
		<real>941</real>
		<real>1417</real>
	</array>
</dict>
</plist>
